@import url(https://fonts.googleapis.com/css?family=Quicksand|Special+Elite);

body {
   font-family: 'Quicksand';
   font-weight: lighter;
   letter-spacing: 0.05em;
   background: linear-gradient(
                               rgba(0, 0, 0, 0.2),
                               rgba(0, 0, 0, 0.2)
                               ), url("../src/img2.jpg") no-repeat center fixed;
   background-size: cover;
   margin:0 0 100px 0;
}

.pageTitle{
   font-size: 24px;
   font-weight: bold;
   line-height: 1.5em;
   text-align: center;
   letter-spacing: 0.1em;
   padding:30px 0px 10px 0px;
   color: rgba(248, 218, 91, 1);
   font-family: 'Special Elite', cursive;
}

.accordion {
   margin: auto;
   width: 920px;
   margin-top: 20px;
   border-radius: 4px;
   /*color:rgba(248, 218, 91, 1);*/
   color:rgba(165,125,53,1);
   background-color: transparent;
   background-color: rgba(0, 0, 0, 0.8);
}

.accordion>.acc-navi{
   height: 100%;
   display: flex;
   flex: 0 1 auto;
   flex-flow: column nowrap;
}

.acc-navi>.title{
   height: 24px;
   z-index: 2000;
   padding: 10px;
   position: relative;
   border-radius: 4px;
   transition: all .1s ease-in;
   background-color: rgba(0, 0, 0, 0.5);
}

.acc-navi>.title:hover{
   cursor: pointer;
   background-color: rgba(255,255,255,0.1);
}

.acc-navi.active>.title{
   transition:all .2s ease-in;
   text-decoration: line-through;
   background-color:rgba(0, 0, 0, 0.5);
}

.acc-navi>.content{
   max-height:0;
   display:flex;
   overflow: hidden;
   padding-left: 10px;
   justify-content: space-around;
   /*transition: max-height 0.6s ease-in-out;*/
}

.acc-navi.active>.content{
   display:flex;
   max-height: 100%;
   padding-left: 10px;
   flex-flow: row nowrap;
   color: rgba(165,125,53,1);
   /*transition: max-height 0.6s ease-in-out;*/
   justify-content: space-around;
   background-color: transparent;
}

.content>.img{
   display: flex;
   align-items: center;
}

.content>.des{
   line-height: 1.5em;
   flex-basis: calc(100% - 360px);
}

.content>.thumb{
   margin:20px;
}

.title>.title-expand{
   padding:4px;
   position: absolute;
   color: rgba(255,255,255, 0.7);
   margin-left: calc(100% - 60px);
}
.title>.title-text{
   display:block;
   margin-left: 8px;
   text-align: left;
   font-weight: lighter;
   letter-spacing: 0.05em;
   padding: 4px 4px 4px 20px;
   text-transform: uppercase;
   color: rgba(255,255,255, 0.7);
   /*margin: 3px 0 3px 0px;*/
   /*line-height: 2;*/
}

.acc-navi>.title>.title-expand:before{
   content: "+";
   float: left;
   transition: transform 0.3s ease-in-out;

}
.acc-navi.active>.title>.title-expand:before{
   transform: rotate(-135deg);
}

.accordion-2 {
   width: 920px;
   margin: auto;
   border-radius: 4px;
   padding-left: 10px;
   color:rgba(248, 218, 91, 1);
   background-color: transparent;
   /*background-color: rgba(0, 0, 0, 0.8);*/
}

.accordion-2>.acc-sub-navi{
   height: 100%;
   display: flex;
   flex: 0 1 auto;
   flex-flow: column nowrap;
}

.acc-sub-navi>.title{
   height: 24px;
   padding: 10px;
   z-index: 2000;
   position: relative;
   border-radius: 4px;
   transition: all .1s ease-in;
   /*background-color: rgba(0, 0, 0, 0.5);*/
}

.acc-sub-navi>.title:hover{
   cursor: pointer;
   /*background-color: rgba(255,255,255,0.1);*/
}

.acc-sub-navi.active>.title{
   transition:all .2s ease-in;
   text-decoration: line-through;
   /*background-color:rgba(0, 0, 0, 0.5);*/
}

.acc-sub-navi>.content{
   display:none;
   max-height: 0;
   overflow: hidden;
   background-color: white;
   transition: 0.6s ease-in-out;
   /*margin:0px 0 0px 20px;*/
}

.acc-sub-navi.active>.content{
   display:flex;
   max-height: 100%;
   padding-left: 60px;
   flex-flow: row nowrap;
   color: rgba(165,125,53,1);
   background-color: transparent;
}

.acc-sub-navi.active>.content>.des{
   line-height: 1.5;
   flex-basis: calc(100% - 50px);
}

.acc-sub-navi>.title>.title-expand:before{
   float: left;
   content: "+";
   transition: transform 0.3s ease-in-out;
   /*font-size: 1.5em;*/
   /*line-height: 0.5em;*/

}
.acc-sub-navi.active>.title>.title-expand:before{
   transform: rotate(135deg);
}
